* {
  margin: 0px;
  padding: 0px;
}

.container-x {
  padding: 0 80px;
}

body {

  font-family: "Montserrat";
}


/* Top Header Side */
.top-header {
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 6px;
  padding-bottom: 6px;
  color: #747474;
  background-color: #E7E6E6;

}

.left-header {
  display: flex;
  align-items: center;
  margin-bottom: -16px;
}

.right-header {
  display: flex;
  align-items: center;
}

.text i {
  padding-right: 8px;
}

.text {
  margin-right: 32px;
  display: flex;
}

/* language */
.sl-nav {
  display: inline;
}

.sl-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  display: inline-block;
}

.sl-nav li {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.sl-nav li ul {
  display: none;
}

.sl-nav li:hover ul {
  position: absolute;
  top: 29px;
  right: -15px;
  display: block;
  background: #fff;
  width: 120px;
  padding-top: 0px;
  z-index: 1;
  border-radius: 5px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.sl-nav li:hover .triangle {
  position: absolute;
  top: 15px;
  right: -10px;
  z-index: 10;
  height: 14px;
  overflow: hidden;
  width: 30px;
  background: transparent;
}

.sl-nav li:hover .triangle:after {
  content: '';
  display: block;
  z-index: 20;
  width: 15px;
  transform: rotate(45deg) translateY(0px) translatex(10px);
  height: 15px;
  background: #fff;
  border-radius: 2px 0px 0px 0px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

b {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}

.sl-nav li ul li {
  position: relative;
  text-align: left;
  background: transparent;
  padding: 15px 15px;
  padding-bottom: 0;
  z-index: 2;
  font-size: 15px;
  color: #3c3c3c;
}

.sl-nav li ul li:last-of-type {
  padding-bottom: 15px;
}

.sl-nav li ul li span {
  padding-left: 5px;
}

.sl-nav li ul li span:hover,
.sl-nav li ul li span.active {
  color: #146c78;
}

.social-icons {
  padding-left: 25px;
  font-size: 15px;
}




/* Nav Section */

.nav-side {
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 16px;
}

.nav-links {
  display: flex;
  margin-bottom: -18px;
}

.nav-links ul {
  display: flex;
  list-style: none;
  align-items: center;
}

.nav-links li {
  font-size: 16px;
  padding-right: 64px;
}

.nav-icons {
  display: flex;
  align-items: center;

}

.nav-icons i {
  padding-left: 28px;
}



/* main side */


/* Walpaper Side */

.wallpaper-side {
  background-image: url(images/CoverPhoto/Cover_photo.png);
  background-repeat: no-repeat;
}

.quote-first h1 {
  padding-top: 183px;
  padding-left: 80px;
  padding-bottom: 16px;
  color: white;
  font-size: 40px;
  font-weight: 700;
}

.quote-second h4 {
  padding-left: 80px;
  color: white;
  font-size: 24px;
  font-weight: 400;
}

.walpaper-button {
  padding-top: 72px;
  padding-left: 80px;
}

.walpaper-button {}

.walpaper-button button {
  font-family: 'Montserrat';
  padding: 16px 32px;
  display: flex;
  align-items: center;
  background-color: white;
  width: 206px;
  height: 64px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 8px;
  font-size: 24px;
  font-weight: bold;
  color: #10375B;
}

.walpaper-button i {
  padding-left: 7px;
}


/* Offers side */


.company-side {
  display: flex;
}

.offer-side {
  margin-top: 127px;
  margin-left: 80px;
  width: 464px;
  border-radius: 12px;
  background-color: #F6F6F6;
}

.offer-text h4 {
  padding-top: 40px;
  padding-left: 50px;
  padding-right: 49px;
  color: black;
  font-size: 24px;
  font-weight: 400;
}

.offer-image {
  padding-top: 6px;
}

.offer-button {
  padding-top: 25px;
  padding-left: 50px;
  padding-bottom: 32px;
}

.offer-button button {
  display: flex;
  align-items: center;
  padding-left: 32px;
  padding-top: 16px;
  padding-bottom: 16px;
  justify-content: space-between;
  width: 364px;
  height: 64px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  border: none;
  background-color: #10375B;
  font-family: 'Montserrat';
  color: white;
  font-size: 24px;
  font-weight: 700;
  padding-right: 32px;

}

.carousel-side {
  padding-top: 230px;
  padding-left: 24px;
  width: 725px;
  overflow: visible;
}

.carousel-side img {
  width: 725px;
}

.carousel-inner {
  overflow: visible;
}

.carousel-side h5 {
  font-size: 64px;
}

.carousel-side h5,
h2,
p {
  color: black;
}


/* Categories */
.categories {
  padding-top: 104px;
  display: flex;
  justify-content: space-between;
}

.categories h1 {
  font-weight: 700;
  font-size: 32px;
}

.categories h3 {
  cursor: pointer;
  font-weight: 400;
  font-size: 24px;
}

.categories-section {

  padding-top: 16px;
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.categories-section div {

  width: 277px;
  height: 220px;
  padding-top: 48px;
}

/* books */

.books {
  cursor: pointer;
  border: 1px solid #B3B3B3;
  border-radius: 12px;
}


.books i {
  font-size: 48px;
}

.books i {
  color: black;
}

.books h2 {
  font-size: 24px;
  font-weight: 700;
  color: black;
}


.active-c {
  cursor: pointer;
  width: 277px;
  height: 220px;
  padding-top: 24px;
  background-color: #10375B;
  border-radius: 8px;
  color: white;
  border: none;
  font-size: 48px;
  transition: 0.3s;
}

.active-c h2 {
  font-size: 24px;
  color: white;
}

.active-c i {
  color: white;
}


/* New Editions */

.new-editions {
  padding-top: 104px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.new-editions h1 {
  font-weight: 700;
  font-size: 32px;
}

.new-editions h3 {
  cursor: pointer;
  font-weight: 400;
  font-size: 24px;
  padding-top: 20px;
}

/* Edition Section */

.edition-section{
  display: flex;
  justify-content: space-between;
  align-items:flex-start;
  padding-left: 62px;
}



/* Cart */

.cart img{
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 62px;
}

.cart h1{
  padding-top: 24px;
  padding-left: 51px;
  padding-right: 51px;
  font-size: 22px;
  font-weight: 700;
}

.cart h4{
  font-size: 16px;
  padding-left: 51px;
  padding-right: 51px;
}

.price{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 6px;
}

.price h2{
  padding-left: 51px;
  padding-right: 51px;
  font-size: 20px;
  font-weight: 700;
}

.fav{
  padding-right: 48px;
  padding-bottom: 10px;
}

.fav i{
  font-size: 32px;
}


/* Quote Side */

.quote{
  background-color: #E6EAEE;
  margin-top: 116px;
}

.quote-details{
  padding-top: 28px;
  padding-bottom: 28px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.quote-text{
  padding-top: 40px;
  padding-left: 60px;
}

.quote-text h1{
  font-size: 47px;
}

.quote-text h2{
  padding-top: 70px;
  color: #C60021;
  font-size: 29px;
}

.quote-text h3{
  font-size: 20px;
}


/* FAQ Side */

.accordion-content{
  margin-top: 80px;
}
.accordion-content h2{
  font-size: 32px;
  font-weight: 300;
  padding-bottom: 25px;
}

.accordion-item {
  padding-top: 32px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  background: #fff;
  border: none;
  border-top: 1px solid #BBBBBB;
  border-bottom: 1px solid #BBBBBB;
}

.accordion-item:first-of-type {
  border-radius: 0;
}


.item-header {
  display: flex;
  justify-content: space-between;
  column-gap: 0.2em;
}

.item-icon {
  flex: 0 0 25px;
  display: grid;
  place-items: center;
  font-size: 1.25rem;
  height: 25px;
  width: 25px;
  
  cursor: pointer;
}
.item-icon i {
  transition: all 0.25s cubic-bezier(0.5, 0, 0.1, 1);
}
.item-question {
  font-size: 24px;
  font-weight: 700;
}

.active .item-icon i {
  transform: rotate(180deg);
}

.active .item-question {
  font-weight: 500;
}

.item-content {
  max-height: 0;
  overflow: hidden;
  transition: all 300ms ease;
}

.item-answer {
  line-height: 150%;
  opacity: 0.8;
}


/* footer */

.footer-section{
  margin-top: 80px;
  background-color: #CFCFCF;
}

.footer-side{
  display: flex;
  justify-content: space-between;
}

.footer-side h2{
  font-size: 20px;
  font-weight: 400;
}

.logo-footer{
  padding-top: 16px;
}
.footer-edit{
  padding-top: 25px;
  margin-right: 5px;
}

.details{
  padding-top: 29px;
}

.details p{
  font-size: 14px;
  font-weight: 300;
}

.footer-icons{
  
}

.footer-icons i{
  font-size: 20px;
  padding-right: 20px;
}

.contact{
  display: flex;
  padding-top: 10px;
}

.contact i{
  font-size: 40px;
}

.contact p{
  line-height: 0.7 ;
}

.contact .texts{
  padding-top: 13px;
}

.texts p{
  font-size: 12px;
  font-weight: 400;
}


.app{
  padding-top: 32px;
}

.appstore{
  padding-right: 8px;
}





